keycode 49 = dollar asciitilde
keycode 10 = 1 plus  
keycode 11 = 2 bracketleft 
keycode 12 = 3 braceleft 
keycode 13 = 4 parenleft   
keycode 14 = 5 ampersand   
keycode 15 = 6 equal 
keycode 16 = 7 parenright   
keycode 17 = 8 braceright   
keycode 18 = 9 bracketright   
keycode 19 = 0 asterisk   
keycode 20 = exclam percent  
keycode 21 = bar grave
keycode 24 = semicolon colon
keycode 34 = slash question
keycode 35 = at asciicircum
keycode 51 = backslash numbersign
keycode 52 = apostrophe quotedbl
